autoai-libs==1.12.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Cython==0.29.14
docutils==0.15.2
Flask==1.1.2
gensim==3.8.3
ibm-cos-sdk==2.7.0
ibm-cos-sdk-core==2.7.0
ibm-cos-sdk-s3transfer==2.7.0
ibm-watson-machine-learning==1.0.77
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
lomond==0.3.3
MarkupSafe==1.1.1
numpy==1.19.2
packaging==20.9
pandas==1.2.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.23.2
scipy==1.6.3
six==1.15.0
smart-open==5.0.0
tabulate==0.8.9
threadpoolctl==2.1.0
urllib3==1.26.4
Werkzeug==1.0.1
